## Segmenting and Clustering Neighborhoods in the City of Toronto, Canada: Part 2

Created by Rhys Morgan on 28th July 2020

[My GitHub Repository](https://github.com/rmjmorgan/Coursera_Capstone 'Coursera Capstone Project')  
[Course Info](https://www.coursera.org/learn/applied-data-science-capstone 'Applied Data Science Capstone')

This notebook will demonstrate my understanding of aquiring geospacial data and merging it with my previous dataframe.

---

In [1]:
# install required libraries.
import numpy as np
print('numpy version {} imported.'.format(np.__version__))

import pandas as pd
print('pandas version {} imported.'.format(pd.__version__))

# import geocoder
# print('geocoder version {} imported.'.format(geocoder.__version__))

numpy version 1.18.1 imported.
pandas version 1.0.1 imported.

I exported the dataframe from part 1 so that I can use it in this notebook.

In [2]:
df1 = pd.read_csv('Canadian_Postal_Codes.csv')

print('This dataframe has {} rows and {} columns.\n'.format(df1.shape[0], df1.shape[1]))
df1.head()

This dataframe has 103 rows and 3 columns.

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

The original plan was to use the Geocoder Python package as a means of retrieving geospacial data for each postal code. However, it doesn't seem to be working - so I will be using a pre-constructed dataframe provided by the course instructors.

In [3]:
df2 = pd.read_csv(r'http://cocl.us/Geospatial_data')

# rename the postal code column to match the other dataframe so that they can merge correctly.
df2.rename(columns={'Postal Code':'PostalCode'}, inplace=True)

print('This dataframe has {} rows and {} columns.\n'.format(df2.shape[0], df2.shape[1]))
df2.head()

This dataframe has 103 rows and 3 columns.

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

Because both dataframes have the same column ("PostalCode"), I can use them as a key for merging both dataframes. This is so the geospacial data matches the postal code.

For consistency, I also checked for extra rows added by the second dataframe, but it seems there aren't any.

In [4]:
df3 = pd.merge(df1, df2)

print('This dataframe has {} rows and {} columns.\n'.format(df3.shape[0], df3.shape[1]))
df3.head(12)

This dataframe has 103 rows and 5 columns.

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724